# NextAuth
NEXTAUTH_URL=http://localhost:3011
NEXTAUTH_SECRET=seu-secret-super-seguro-aqui

# Credenciais do Admin
ADMIN_EMAIL=admin@byuplay.com
ADMIN_PASSWORD=teste

# Google OAuth (opcional)
GOOGLE_CLIENT_ID=seu-google-client-id
GOOGLE_CLIENT_SECRET=seu-google-client-secret

# Cloudinary (para upload de vídeos)
CLOUDINARY_CLOUD_NAME=seu-cloud-name
CLOUDINARY_API_KEY=sua-api-key
CLOUDINARY_API_SECRET=seu-api-secret
